.node--type-landing .sectProduct h2 {
    text-align: center;
}

.node--type-landing .text_landing_info p{
    padding: 20px; 
}

.node--type-landing .card_landing{
    text-align: center;
}

.node--type-landing .card_landing p{
    text-align: justify !important;
    padding: 5px;
}

.node--type-landing .section_lading_slide{
    background: rgb(0,82,102);
    background: linear-gradient(111deg, rgba(0,82,102,1) 9%, rgba(0,32,41,0.9794292717086834) 33%, rgba(0,32,41,0.8533788515406162) 47%, rgba(0,82,102,0.9374124649859944) 70%);
    padding: 30px 5px;
}

.section_lading_slide{
    color: white;
}

.node--type-landing .section_lading_slide p,.node--type-landing .section_lading_slide h3, .node--type-landing .section_lading_slide ul li{
    color: white;
}

.node--type-landing .landing_items{
    columns:2;
}

.circle_info_detail{
    background: #b4c530; 
    color: #386481; 
    height: 50px; 
    width:50px; 
    border-radius:50%;
    margin: 0 auto;
    text-align: center;
}

.circle_info_detail span{
    font-weight:bold; 
    line-height:65px; 
    font-size:30px;
}

.circle_info_detail p{
    text-align: justify;
}

.section_landing_calle h4{
    text-align: center;
}

.landing_text_center
{
    text-align: center;
}
 