.region-red-oficinas {
  margin-top: 50px;
}

.sectMap {
  background-color: #EFEFEF;
  margin-top: 90px;

  #map {
    box-shadow: 0px 10px 30px #00658429;
    margin: 0 auto;
    top: -90px !important;
    position: relative;
    width: 100%;

    .gm-style {
      .gm-style-iw-c {
        padding: 20px;
        font-family: $lato;
      }
    }
  }
}

.puntos {
  box-shadow: 0px 1px 4px #00658429;
  padding: 51px 40px;

  .col-lg-4 {
    &:first-child {
      border-right: solid $gray-lt 1px;
    }
  }
}