{{ fields.field_imagen.content}}
<h4 class="pdd-top-30">{{ fields.name.content|raw|striptags|trim}}</h4>
<article class="pdd-buttom-20">{{ fields.description__value.content}}</article>
<div class="ctaCustom ctaCustom--border-blue">{{ fields.field_enlace.content }}</div>