<span class="file">
<a href="{{ fields.field_archivos_ef.content|striptags|trim}}" target="_blank" download >{{ fields.title.content}}<span>{{ fields.field_subtitulo_footer.content|striptags|trim|raw}}</span></a>
</span>