.clsChatBot {
    background-color: var(--blue-dark);
    .ct-chat {
        display: flex;
        justify-content: flex-end;
        padding: 50px 0;
        position: relative;
        @include media(xs) {
            justify-content: center;
        }
        .content {
            display: flex;
            align-items: center;
            color: var(--white);
            img {
                margin-right: 10px;
            }
            h2 {
                font-size: 28px;
                color: var(--white);
                margin: 0;
            }
            span {
                font-size: 14px;
            }
        }
    }
   
}

.node--type-producto{
  .clsChatBot {
    margin-top: 0 !important;
  }
      
}

footer {
    background-color: var(--blue);
    color: #fff;
    padding: 75px 0 35px 0;
    @media (max-width: 767px) {
      padding-top: 40px;
    }
    .menu-footer {
        @media (max-width: 767px){
          padding-left: 15px;
        }
        @media (min-width: 768px) and (max-width: 992px){
          padding-left: 15px;
          padding-top: 40px;
        }
        padding-left: 35px;
        >.row {
            >div {
                margin: 0px 0 20px 0;
            }
        }
        ul {
            @include media(xs) {
                visibility: hidden;
                max-height: 0;
                overflow: hidden;
                transition: all .4s ease-out;
                margin-bottom: 0;
            }
            li {
                padding: 6px 0;
            }
        }
        p {
            color: var(--white);
            font-weight: 700;
        }
        h2 {
            color: var(--white);
            font-size: 18px;
            font-weight: 700;
            @include media(xs) {
                border-bottom: 1px solid var(--white);
                position: relative;
                padding: 10px 0;
                &::after {
                    content: url($icon-path + 'down.svg');
                    position: absolute;
                    right: 0;
                    top: 4px;
                    transition: .5s ease;
                }
            }
            &.is-active {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }
        ul {
            li {
                a {
                    display: inline-block;
                    padding: 4px 0;
                    position: relative;

                    &::before {
                        content: '';
                        background-color: var(--white);
                        height: 2px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0%;
                        transition: all .2s linear;
                    }

                    &:hover {
                        &::before {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
    .logo-menu {
        @include media(xs) {
            margin-bottom: 35px;
        }
        ul {
            li {
                span {
                    color: var(--white);
                    font-size: 14px;
                }
                &:last-child {
                    margin-top: 40px;
                    @include media(xs) {
                        margin-top: 12px;
                    }
                    a {
                        border: 1px solid var(--white);
                        text-align: center;
                        width: 80%;
                        padding: 8px 0;
                        transition: .3s linear;
                        &:hover {
                            background-color: var(--white);
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
    ul {
        li {
            width: 100%;
            a {
                color: var(--white);
                font-weight: 300;
                font-size: 16px;
            }
            &::before {
                display: none;
            }
        }
    }
    a {
        &:hover {
            color: var(--white);
        }
    }
    .copy {
        padding: 15px;
        margin-top: 45px;
        @media (max-width: 767px){
          margin-top: 0px;
        }
        >section {
            border-top: 1px solid var(--white);
            padding: 25px 0 0;
            @media (max-width: 767px){
              margin: 0;

            }
        }
        p {
            margin: 0px;
            sub {
                font-size: 14px;
                font-weight: 700;
            }
            font-size: 18px;
            color: var(--white);
        }
    }
    .active-dropdown-foo {
        visibility: visible !important;
        max-height: 400px !important;
        padding: 25px 0 !important;
    }
    .social-footer {
        ul {
            li {
                a {
                    padding-left: 30px;
                    position: relative;
                    display: block;

                    &::before {
                        background-color: transparent;
                        left: 0px;
                        top: 5px;
                        position: absolute;
                        width: 15px;
                        height: 15px;
                    }
                    &.facebook {
                        &::before {
                            content: url($icon-path + 'facebook.svg');
                        }
                    }
                    &.twitter {
                        &::before {
                            content: url($icon-path + 'twitter.svg');
                        }
                    }
                    &.linkedin {
                        &::before {
                            content: url($icon-path + 'linkedin.svg');
                        }
                    }
                }
            }
        }
    }
}